body {
    font-family:'Roboto', 'Raleway'  sans-serif;
    color:#2e2f42;
    background-color:#fff;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style-type: none;
}
button {
    cursor:pointer;
}
/*================HEDER================*/
.accent {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.page-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.page-menu .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.adress-info .contacts-info {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.adress-info .contacts-info:hover,
.adress-info .contacts-info:focus {
    color: #4d5ae5
}
/*================SOLUTION================*/
.service-solutions {
    width: 1440px;
    height: 600px;
    background: #2e2f42;
}
.service-solutions .solution-info {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
.service-solutions .service-button {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            background: #4d5ae5;
}