body {
    font-family:'Roboto', 'Raleway'  sans-serif;
    color:#2e2f42;
    background-color:#fff;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style-type: none;
}
button {
    cursor:pointer;
}
.adress-info .contacts-info:hover,
.adress-info .contacts-info:focus {
    color:#6a71f3
}